/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 17, 2015, 2:40:12 PM
    Author     : theu
*/
body{
    background: #245269;
}
.container{
    background: white;
}
.input-group1{
    margin-right: -30px;
}
.box-login{
    margin-top: 15px;
    margin-bottom: 15px;
    clear: both;
    font-size: 13px;
}
ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;    
}
.breadcrumb{
    background: white;
    margin-bottom: -10px;
}
form div {
   clear: none; 
   margin-bottom: 0px; 
   padding: 0px; 
}
.box-login>.row{
    margin-right: -60px;
}
.box-passmail{
    margin-top: 250px;
}
.createuser>.input-group{
    width: 700px;
    margin-top: 50px;
}
.createuser>.input-group>.input-group-addon{
    width: 150px;
}
.createuser{ 
    margin-top: 50px;
    margin-left: 250px;
}
.submit{
    margin: 50px;
}